# Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
# MindEdge is licensed under Mulan PSL v2.
# You can use this software according to the terms and conditions of the Mulan PSL v2.
# You may obtain a copy of Mulan PSL v2 at:
#          http://license.coscl.org.cn/MulanPSL2
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
# EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
# MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v2 for more details.
[Unit]
Description=edgecore
After=network.target
PartOf=mef-edge.target
ConditionPathExists={install_dir}/software/edge_core/bin/edgecore
StartLimitBurst=0

[Service]
UMask=0027
User=root
StandardOutput=null
StandardError=null
ExecStartPre={install_dir}/software/edge_core/script/prepare.sh "{log_dir}" "{log_backup_dir}"
Environment="LD_LIBRARY_PATH={install_dir}/software/lib:$LD_LIBRARY_PATH"
Environment="CHECK_EDGECORE_ENVIRONMENT=false"
ExecStart={install_dir}/software/edge_installer/bin/innerctl prepare_edgecore
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3
KillSignal=SIGTERM
KillMode=control-group
TimeoutStopSec=15

[Install]
Alias=edgecore.service
WantedBy=multi-user.target mef-edge.target