# Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
# MindEdge is licensed under Mulan PSL v2.
# You can use this software according to the terms and conditions of the Mulan PSL v2.
# You may obtain a copy of Mulan PSL v2 at:
#          http://license.coscl.org.cn/MulanPSL2
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
# EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
# MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v2 for more details.
[Unit]
Description=mef-edge-init

[Service]
UMask=0027
User=root
ExecStart={install_dir}/software/edge_installer/script/mef_init.sh "{log_dir}"
ExecReload=/bin/kill -HUP $MAINPID
RemainAfterExit=true
KillSignal=SIGTERM
KillMode=control-group
TimeoutStopSec=15
Type=oneshot

[Install]
Alias=mef-edge-init.service
WantedBy=multi-user.target
