[Unit]
Description=mef-edge-main
After=network.target
PartOf=mef-edge.target
ConditionPathExists={install_dir}/software/edge_main/bin/edge-main
StartLimitBurst=0
MefEdgeSoftwareDir={software_dir}

[Service]
UMask=0027
User=MEFEdge
PermissionsStartOnly=true
ExecStartPre={install_dir}/software/edge_installer/script/prepare_edge_main_log.sh "{log_dir}" "{log_backup_dir}"
Environment="LD_LIBRARY_PATH={install_dir}/software/lib:$LD_LIBRARY_PATH"
ExecStart={install_dir}/software/edge_main/bin/edge-main
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillSignal=SIGTERM
KillMode=control-group
TimeoutStopSec=15
CPUQuota=15%
MemoryLimit=50M

[Install]
Alias=mef-edge-main.service
WantedBy=multi-user.target mef-edge.target