# Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
# MEF is licensed under Mulan PSL v2.
# You can use this software according to the terms and conditions of the Mulan PSL v2.
# You may obtain a copy of Mulan PSL v2 at:
#          http://license.coscl.org.cn/MulanPSL2
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
# EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
# MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v2 for more details.
[Unit]
Description=reset_mefedge
After=network.target devm_drv_init.service

[Service]
User=root
ExecStart={pkg_dir}/software/edge_installer/script/reset_install.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=no
StartLimitBurst=0
KillSignal=SIGTERM
KillMode=control-group
TimeoutStopSec=15

[Install]
Alias=reset_mefedge.service
WantedBy=multi-user.target