[Unit]
Description=IBMA-EDGE start
After=start-minid.service devm_drv_init.service om-init.service platform-app.service
Wants=network-online.target om-init.service platform-app.service

[Service]
Type=forking
EnvironmentFile=/home/data/config/mindx_om_env.conf
ExecStart=/usr/local/mindx/MindXOM/scripts/ibma_edge_start.sh
Restart=always
StartLimitInterval=0
StandardOutput=null
KillMode=control-group

[Install]
WantedBy=multi-user.target

