[Unit]
Description=MindX Edge OM init service depended by all other OM services
After=network-online.target start-minid.service devm_drv_init.service
Wants=network-online.target start-minid.service devm_drv_init.service

[Service]
Type=forking
EnvironmentFile=/home/data/config/mindx_om_env.conf
ExecStart=/bin/bash /usr/local/scripts/om_init.sh
TimeoutSec=6000

[Install]
WantedBy=multi-user.target
